name: CI

on:
  push:
  pull_request:

env:
  CUATRO_HEX_KEY: ${{ secrets.CUATRO_HEX_KEY }}

jobs:
  bless:
    name: Bless
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - erlang: "28"
            elixir: "1.19"
            lint: true
            coverage: true
            dialyzer: true
          # One version down.
          - erlang: "27"
            elixir: "1.18"
          # Oldest version. We technically support OTP 23 but hard to test in CI
          - erlang: "24"
            elixir: "1.14"
    env:
      MIX_ENV: test

    steps:
    - uses: actions/checkout@v4

    - name: Install OTP and Elixir
      uses: erlef/setup-beam@v1
      with:
        otp-version: ${{ matrix.erlang }}
        elixir-version: ${{ matrix.elixir }}

    - name: Cache dependencies
      id: cache-deps
      uses: actions/cache@v4
      with:
        path: |
          deps
          _build
        key: ${{ runner.os }}-mix-otp${{ matrix.erlang }}-elixir${{ matrix.elixir }}-${{ hashFiles('**/mix.lock') }}

    - name: Install and compile dependencies
      if: steps.cache-deps.outputs.cache-hit != 'true'
      run: |
        mix deps.get --only test
        mix deps.compile

    - name: Check for unused dependencies
      run: mix deps.get && mix deps.unlock --check-unused
      if: matrix.lint && steps.cache-deps.outputs.cache-hit != 'true'

    - name: Compile with --warnings-as-errors
      run: mix compile --warnings-as-errors
      if: matrix.lint

    - name: Restore cached PLTs
      uses: actions/cache@v4
      id: plt_cache
      if: ${{ matrix.dialyzer }}
      with:
        key: |
          ${{ runner.os }}-${{ matrix.elixir }}-${{ matrix.erlang }}-plt
        restore-keys: |
          ${{ runner.os }}-${{ matrix.elixir }}-${{ matrix.erlang }}-plt
        path: |
          priv/plts

    # Create PLTs if no cached PLTs were found
    - name: Create PLTs
      if: matrix.dialyzer && steps.plt_cache.outputs.cache-hit != 'true'
      run: MIX_ENV=test mix dialyzer --plt

    - name: Run dialyzer
      run: MIX_ENV=test mix dialyzer
      if: matrix.dialyzer

    - name: Run tests with coverage
      run: mix coveralls.github
      if: matrix.coverage

    - name: Run tests
      run: mix test --trace
      if: '!matrix.coverage'

    - name: Check mix format
      run: mix format --check-formatted
      if: matrix.lint

  publish-hex-package:
    name: Publish Hex Package ⬆️☁️
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/v')
    env:
      MIX_ENV: docs
    needs:
    - bless

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Determine the elixir version
      run: echo "ELIXIR_VERSION=$(grep -h elixir .tool-versions | awk '{ print $2 }' | awk -F - '{print $1}')" >> $GITHUB_ENV

    - name: Determine the otp version
      run: echo "OTP_VERSION=$(grep -h erlang .tool-versions | awk '{ print $2 }')" >> $GITHUB_ENV

    - name: Setup Elixir and Erlang versions
      uses: erlef/setup-beam@v1
      with:
        elixir-version: ${{ env.ELIXIR_VERSION }}
        otp-version: ${{ env.OTP_VERSION }}

    - name: Restore the deps cache
      uses: actions/cache@v4
      id: deps-cache
      with:
        path: deps
        key: ${{ runner.os }}-${{ env.ELIXIR_VERSION }}-${{ env.OTP_VERSION }}-${{ env.MIX_ENV }}-deps-mixlockhash-${{ hashFiles(format('{0}{1}', github.workspace, '/mix.lock')) }}
        restore-keys: |
          ${{ runner.os }}-${{ env.ELIXIR_VERSION }}-${{ env.OTP_VERSION }}-${{ env.MIX_ENV }}-deps-

    - name: Restore the _build cache
      uses: actions/cache@v4
      id: build-cache
      with:
        path: _build
        key: ${{ runner.os }}-${{ env.ELIXIR_VERSION }}-${{ env.OTP_VERSION }}-${{ env.MIX_ENV }}-build-mixlockhash-${{ hashFiles(format('{0}{1}', github.workspace, '/mix.lock')) }}
        restore-keys: |
          ${{ runner.os }}-${{ env.ELIXIR_VERSION }}-${{ env.OTP_VERSION }}-${{ env.MIX_ENV }}-build-

    - name: Fetch mix dependencies
      if: steps.deps-cache.outputs.cache-hit != 'true'
      run: |
        mix local.rebar --force
        mix local.hex --force
        mix deps.get

    - name: Compile dependencies
      if: steps.deps-cache.outputs.cache-hit != 'true'
      run: mix deps.compile

    - name: Generate documentation
      run: mix docs

    - name: Determine the tag version
      env:
        GITHUB_REF: ${{ github.ref }}
      run: echo "TAG=$(echo "$GITHUB_REF" | awk -F / '{print $3}')" >> $GITHUB_ENV

    - name: Write the tag version to .version
      run: echo $TAG > .version

    - name: Determine the repository name
      run: echo "REPOSITORY=$(echo $GITHUB_REPOSITORY | awk -F / '{print $2}')" >> $GITHUB_ENV

    - name: Create a GitHub Release
      id: create_release
      uses: NFIBrokerage/create-release@v4
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ env.TAG }}
        release_name: Release ${{ env.TAG }}
        draft: false
        prerelease: false

    - name: Publish library
      run: mix hex.publish --yes
      env:
        HEX_API_KEY: ${{ secrets.HEX_PUBLISH_KEY }}

    - name: Notify ops channel of build success
      run: >
        curl
        -X POST
        -H 'Content-type:application/json'
        -d "{\"text\":\":hexpm: package published for $REPOSITORY $(git tag -ln $TAG)\"}"
        $SLACK_WEBHOOK
      env:
        SLACK_WEBHOOK: ${{ secrets.OPS_CHANNEL_SLACK_WEBHOOK }}

# Generated by Elixir.Gaas.Generators.Simple.Actions.LibraryCi
